<div class="body-mt-72">
  <div class="container">
    <form novalidate [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="row mt-4">
        <input
          type="text"
          formControlName="userName"
          placeholder="Enter UserName"
        />

        <div
          class="text-danger"
          *ngIf="
            userForm.get('userName').errors && userForm.get('userName').dirty
          "
        >
          <span *ngIf="userForm.get('userName').errors?.required">
            UserName is required
          </span>
          <span *ngIf="userForm.get('userName').errors?.cannotContainSpace">
            Can not contain any space.
          </span>
        </div>
      </div>

      <div class="row mt-4">
        <input
          type="text"
          formControlName="address"
          placeholder="Enter Address"
        />
        <div
          *ngIf="
            userForm.get('address').errors && userForm.get('address').dirty
          "
        >
          <span class="text-danger">Company Address is required</span>
        </div>
      </div>

      <div class="row mt-4">
        <input
          type="text"
          formControlName="website"
          placeholder="Enter Website"
        />

        <div
          *ngIf="
            userForm.get('website').errors && userForm.get('website').dirty
          "
        >
          <span
            class="text-danger"
            *ngIf="
              userForm.get('website').errors?.validUrl &&
              !userForm.get('website').errors?.cannotContainSpace
            "
            >Only urls served over https and only from the .com top-leveldomain
            are accepted.</span
          >
          <span
            class="text-danger"
            *ngIf="userForm.get('website').errors?.cannotContainSpace"
          >
            Can not contain any space.
          </span>
        </div>
      </div>

      <div class="row mt-4">
        <button
          type="submit"
          class="btn btn-primary btn-rounded"
          [disabled]="userForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
